{{- writeToStdout "Edit your config in ~/.config/chezmoi/chezmoi.yaml\n" -}}

data:
  profile: # TODO: "home" or "work"
  email: # TODO:
  name: Alexander Krigsman
  xdg_session_type: {{ default "x11" (env "XDG_SESSION_TYPE") }}

# https://www.chezmoi.io/user-guide/frequently-asked-questions/troubleshooting/#chezmoi-makes-sshconfig-group-writeable-how-do-i-stop-this
umask: 0o022
