[user]
  name = {{ .name }}
  email = {{ .email }}

[diff]
  external = difft

[pager]
  difftool = true

[merge]
  tool = vimdiff

[mergetool]
  keepBackup = false

[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
