# reload config file
bind-key r source-file ~/.tmux.conf

# set prefix key
unbind-key C-b
set-option -g prefix C-Space
bind-key C-Space send-prefix

# vi keys
set-window-option -g mode-keys vi

# mouse support
set-option -g mouse on

{{ if eq .profile "work" -}}
# Wayland clipboard
set-option -g copy-command 'wl-copy'
{{- end }}

# increase left/right status lengths (e.g. for session name)
set-option -g status-left-length 100
set-option -g status-right-length 100

# change working directory of current session to working directory of pane
bind-key M-c attach-session -c "#{pane_current_path}"

# don't rename windows automatically
set-option -g allow-rename off

# window titles
set-option -g set-titles on
set-option -g set-titles-string "#S: #W"

# escape time
set-option -sg escape-time 10

# scrollback history size
set-option -g history-limit 10000

# swap windows
bind-key P swap-window -t -1\; select-window -t -1
bind-key N swap-window -t +1\; select-window -t +1

# select panes vi-style
unbind-key Left
unbind-key Right
unbind-key Up
unbind-key Down
bind-key h select-pane -L
bind-key l select-pane -R
bind-key k select-pane -U
bind-key j select-pane -D

# swap panes vi-style
bind-key H swap-pane -s '{left-of}'
bind-key L swap-pane -s '{right-of}'
bind-key K swap-pane -s '{up-of}'
bind-key J swap-pane -s '{down-of}'

# Neovim :checkhealth warnings
set-option -g focus-events on
set-option -g default-terminal "tmux-256color"
set-option -sa terminal-overrides ',alacritty:RGB'
