[user]
  name = {{ .name }}
  email = {{ .email }}

{{ if eq .profile "work" -}}
[commit]
  gpgsign = true
{{- end }}

[merge]
  tool = vimdiff

[mergetool]
  keepBackup = false

[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[pager]
  difftool = true
