AddKeysToAgent yes
HashKnownHosts no # hostname tab-completion

Host *
    ControlMaster auto
    # Wait 5 seconds before closing. Helpful for automated processes that make
    # multiple SSH connections in quick succession.
    ControlPersist 5
    ControlPath ~/.ssh/sockets/%C

{{ if eq .profile "work" -}}
Include ~/.ssh/config_basenet
{{ end }}
